<div class="nested-fields card">
  <div class="form-left">
    <h5 class="left blue-text">プランの詳細</h5>
    <br />
    <br /> 
    <div class="file-field input-field">
      <div class="btn blue">
        <span>File</span>
        <%= f.file_field :image%>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
      </div>
    </div>
    
    
  </div>
    
  <div class="form-right">
    <%= f.label '場所', for: "place" %>
    <%= f.text_field :place_name, placeholder: "ex) museum, restaurant...", id: "place", autofocus: true, required: true %>
    <%= f.label 'どんな場所？', for: "description" %>
    <%= f.text_area :description, placeholder: "description here", id: "description", autofocus: true, required: true %>
    <%= f.label '滞在時刻', for: "time" %>
    <%= f.select :time, options_for_select(get_times), {prompt: 'クリックで時刻を選択'}, {class: 'browser-default', id: 'time-select'}%>
    <br />
    <div class="link">
    <%= link_to_remove_association("この行程を削除", f, id: 'remove_content' ) %>
    </div>
  </div>
  
  
  
  
</div>
