<div class="main-contents-list">
  <%= link_to plan_path(plan.id), class:"card horizontal" do %>
    <div class="card-image">
      <%= image_tag(plan.contents.first.image.url) %>
    </div>
    <div class="card-stacked">
      <div class="card-title">
        <h5><%= plan.title %></h5> 
      </div> 
      <div class="plan-title"><p><%= plan.title %></p></div>
      <div class="card-content">
        <%= plan.contents.first.description %>
      </div>
    </div>
  <% end %>      
</div>
