<div class="top-contents">
  
  <div class="header">
  
  <%= render partial: "layouts/nav" %>
    <h3 class="header-title center white-text">Share your travel ideas.</h3>
    <h3 class="header-title center white-text">Find the best plans for your journey.</h3>
    <%= render partial: "layouts/search-box" %>
  </div>

  <div class="mid-wrapper">
    <div class="mid-wrapper__content">
       <%= image_tag('travel_planning.svg', class: 'mid-wrapper__image') %>
      <div class="mid-wrapper__content--text">
        Tell us your favorite places and how you traveled.
      </div>
    </div>
   
    <div class="mid-wrapper__content">
      <div class="mid-wrapper__content--text">
      Share your travel ideas with travelers around the world!
      </div>
      <%= image_tag('marginalia-location-access.png', class: 'mid-wrapper__image') %>
    </div>
  </div>
</div> 
<%= render partial: 'layouts/create_btn' %>
<ul class="sidenav" id="mobile-demo">
  <li>
    <%= link_to new_user_registration_path do%>
      <i class="material-icons">assignment_ind</i>
      Sign Up
    <% end %>
  </li>
  <li>
    <%= link_to new_user_session_path do%>
      <i class="material-icons">input</i>
      Log In
    <% end %>
  </li>
    <li>
    <%= link_to new_user_session_path do%>
      <i class="material-icons">arrow back</i>
      Log Out
    <% end %>
  </li>
</ul>

