<div class="top-contents">
  <div class="header">
    <%= image_tag('adventure-blur-close-up-346885.jpg', class: 'desktop-image')%>
    <%= image_tag('ian-dooley-hpTH5b6mo2s-unsplash-min (1).jpg', class: 'sp-image') %>
    <div class="navhead">
       <%= render partial: "layouts/nav" %>
    </div>
    <div class="header-contents">
      <h3 class="header-title center white-text">最高の旅行プランを見つけよう</h3>
      <%= render partial: "layouts/search-box" %>

      <% unless user_signed_in? %>
      <%= link_to user_twitter_omniauth_authorize_path, class:'blue waves-effect waves-light btn' do %>
        <i class="fa fa-twitter"></i>
        Twitterではじめる
      <% end %>
      <br />
      <%# <%= link_to user_facebook_omniauth_authorize_path, class:'blue darken-4 waves-effect waves-light btn' do %>
        <%# <i class="fa fa-facebook"></i>
        Facebookではじめる
      <% end %> 
      <% end %>
    </div>
  </div> 

  <div class="mid-wrapper">
    <div class="mid-wrapper__title center">Top plans</div>
    <br />
    <ul class="mid-wrapper__images">
    <% @plans.each do |plan| %>
      <%= link_to plan_path(plan.id) do %>
      <li class="mid-wrapper__images-list card">
        <div class="card-image">
        <%= image_tag(plan.contents.first.image.url)%>
        <span class="card-title"><%= plan.title %></span>
        </div>
      </li>   
     <% end %>
    <% end %>
    </ul>
  </div>

  <div class="howto">
    <div class="center howto-title">What's Trippot?
    <br />
    Trippotは旅人のための旅行プラン共有サービスです。
    </div>
    <div class="howto-texts">
      <div class="howto-texts-post">
        <div class="howto-texts-post_text">自分の旅行プランを投稿して、<br />みんなにシェアしよう</div> 
        <%= image_tag('step1.1.png')%>
      </div>
       <div class="howto-texts-post">
        <div class="howto-texts-post_text center">同時に複数の行程を投稿できます</div>
        <%= image_tag('step1.1.2.png')%>
      </div>
      <div class="howto-texts-post">
         <div class="howto-texts-post_text center">旅先の素晴らしい写真をチェックして</div>
         <%= image_tag('2.1.4.png')%>
      </div>
      <div class="howto-texts-post">
         <div class="howto-texts-post_text center">お気に入りのプランはSNSでシェア！</div>
         <%= image_tag('2.1.3.png')%>
      </div>
    </div>
  </div>

  <div class="footer">
    <ul class="footer-list">
      <li>
        <%= link_to 'https://github.com/TakkAlGhul/Trippot' do %>
          <%= fa_icon 'github' %>
        <% end %>
      </li>
       <li>
        <%= link_to 'https://twitter.com/JB48922467' do %>
          <%= fa_icon 'twitter' %>
        <% end %>
      </li>
      <li>
        <%= link_to 'https://www.facebook.com/takuro.yakubo' do %>
          <%= fa_icon 'facebook' %>
        <% end %>
      </li>
      <li>
        <%= link_to 'https://qiita.com/takk0715' do %>
          <%= fa_icon 'search' %>
        <% end %>
      </li>
       <div class="copylight center">©CopyRight 2019 Takuro Yakubo</div>
    </ul>
  </div>
</div> 


<% if user_signed_in? %>
  <%= render partial: 'layouts/create_btn' %>
<% end %>
<%= render partial: 'layouts/side-nav' %>

