<div class="top-contents">
  
  <div class="header">
   
    <%= image_tag('adventure-blur-close-up-346885.jpg', class: 'desktop-image')%>
    <%= image_tag('ian-dooley-hpTH5b6mo2s-unsplash.jpg', class: 'sp-image') %>
    <div class="navhead">
       <%= render partial: "layouts/nav" %>
    </div>
    <div class="header-contents">
      <h3 class="header-title center white-text">最高の旅行プランを見つけよう</h3>
      <%= render partial: "layouts/search-box" %>
    </div>
  </div>

  <div class="mid-wrapper">
    <div class="mid-wrapper__title center">Top plans</div>
    <br />
    <ul class="mid-wrapper__images">
    <% @contents.each do |content| %>
      <li class="mid-wrapper__images-list">
        <%= image_tag(content.image.url)%>
        <div class="image-text">
          <h4><%= content.place_name %></h4>
        </div>
      </li>   
    <% end %>
    </ul>
  </div>

  <div class="howto">
    <div class="center howto-title">How does this works?</div>
  </div>
</div> 
<%= render partial: 'layouts/create_btn' %>
<%= render partial: 'layouts/side-nav' %>
