<%= render partial: 'layouts/g-nav2' %>
<div class="contents">
  <ul class="contents-header">
    <% @contents.each do |content| %>
      <li class="contents-header-image">
        <%= image_tag(content.image.url)%>
        <div class="image-text">
          <h4><%= content.place_name %></h4>
        </div>
      </li>   
    <% end %>
  </ul>

  <div class="contents-right">
    <div class="contents-title center bold">
    <%= @plan.title %>  
    <% if user_signed_in? && @plan.user_id == current_user.id %>
      <%= link_to plan_path(@plan.id), method: :delete, data:{ confirm: '削除すると二度と復活できません。本当に削除しますか？' }, class: 'delete-icon' do %>
        <%= fa_icon 'trash'%>
        <p>削除</p>
      <% end %>
    <% end %>
    </div>
  
    <ul class="cbp_tmtimeline">
      <%= render partial: "contents-list", collection: @contents, as: "content" %>
    </ul>
  </div>

  <div class="sns-btns center">
    <h5 class="center">SNSでシェア</h5>
    <br />
    <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}&text=#{@plan.title}", class: 'twitter', title: 'Twitter', target: '_blank' %>
    <%= link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@plan.title}", class: 'facebook', title: 'Facebook', target: '_blank' %>
    <%= link_to 'LINE', "http://line.me/R/msg/text/?#{request.url}&text=#{@plan.title}", class: 'line', title: 'LINE', target: '_blank' %>
  </div>
</div>

<% if user_signed_in? %>
  <%= render partial: 'layouts/create_btn' %>
<% end %>
