<%= render partial: 'layouts/g-nav' %>
<div class="contents">
  <ul class="contents-header">
    <% @contents.each do |content| %>
      <li class="contents-header-image">
        <%= image_tag(content.image.url)%>
        <div class="image-text">
          <h4><%= content.place_name %></h4>
          <p><span>Access:</span>  <%= content.access%></p>
          <p><span>Time:</span> <%= content.time%></p>
        </div>
      </li>   
    <% end %>
  </ul>
  
  <div class="contents-title center bold">
    <%= @plan.title %>
    <br />
    ●
    <br />
    ●
    <br />
    ●
  </div>
  
  <ul class="cbp_tmtimeline">
    <%= render partial: "contents-list", collection: @contents, as: "content" %>
  </ul>
</div>
